a.external.no-image, a.external.icon {
  background: url(../images/link.png) right center no-repeat;
  padding-right: 12px;
}
a.mailto.no-image, a.mailto.icon {
  background: url(../images/mail.png) right center no-repeat;
  padding-right: 12px;
}

/* Hide link or mailto icons when printing. */
@media print {
  a.external, a.mailto {
    background-image: none;
    padding: 0;
  }
}
