a.external.icon, a.external.no-image, a[href^="http://"].external, a[href^="https://"].external {
  background: url(../images/link.png) right center no-repeat;
  padding-right: 12px;
}
a.mailto.icon, a.mailto.no-image {
  background: url(../images/mail.png) right center no-repeat;
  padding-right: 12px;
}

/* Hide link or mailto icons when printing. */
@media print {
  a.external, a.mailto {
    background-image: none;
    padding: 0;
  }
}
