a.external-link.icon, a.external-link.no-image, a.external, a.external {
  background: url(../images/link.png) right center no-repeat;
  padding-right: 12px;
}
a.mailto {
  background: url(../images/mail.png) right center no-repeat;
  padding-right: 12px;
}

/* Hide link or mailto icons when printing. */
@media print {
  a.external, a.external-link, a.mailto {
    background-image: none;
    padding: 0;
  }
}
